! urxvt settings
URxvt*termName: rxvt-unicode-256color
URxvt*font: xft:Liberation Mono for Powerline:pixelsize=13:antialias=true:hinting=true
URxvt*jumpScroll: False
URxvt*skipScroll: True
URxvt*transparent: False
URxvt*loginShell: True
URxvt*scrollBar: False
URxvt*secondaryScreen: False
URxvt*secondaryScroll: False
URxvt*iso14755: False
URxvt*iso14755_52: False
URxvt*saveLines: 0

! colors
#include "Versioning/.homesick-dep/xresources/Xresources.dark"
