! urxvt settings
URxvt*termName: rxvt-unicode-256color
URxvt*font: xft:Anonymous Pro for Powerline:pixelsize=17:antialias=true:hinting=false
URxvt*buffered: True
URxvt*jumpScroll: True
URxvt*skipScroll: True
URxvt*transparent: False
URxvt*borderless: True
URxvt*loginShell: True
URxvt*scrollBar: False
URxvt*secondaryScreen: False
URxvt*secondaryScroll: False
URxvt*iso14755: False
URxvt*iso14755_52: False
URxvt*saveLines: 0

! colors
#include "Versioning/.homesick-dep/xresources/Xresources.dark"
