#!/usr/bin/env xdg-open
[Desktop Entry]
Name=term
Comment=my term session
GenericName=killphi's URxvt TMux session
Exec=fish -c term
Icon=utilities-terminal
StartupNotify=false
Terminal=false
Type=Application
